@import url('https://fonts.googleapis.com/css?family=Roboto:300,400');
html, body {
  background-color: #232529;
  overflow: hidden;
  height: 100%;
  width: 100%;
}
h1 {
  font-family: 'Roboto', serif;
  font-weight: 300;
  color: #f2f2f2;
  opacity: 0;
  font-size: 60px;
}
h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #f2f2f2;
  opacity: 0;
}
img {
  height: 100%;
}
.logo-container {
  font-size: 12px;
  position: absolute;
  margin-top: 15px;
  left: -500px;
}
.title-container {
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 40px;
  left: 0;
  right: 0;
  width: 700px;
  height: 200px;
}
.image-container {
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 500px;
  height: 300px;
}
/* background */
.rectangle1 {
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: -60%;
  right: 0;
  width: 1500px;
  height: 100%;
  background-color: #232529;
  opacity: 1;
   border-left-style: solid;
    border-left-width: 5px;
  border-left-color: #f2f2f2;
}
